.line__content_text {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 12px;
}

.line__content_text::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
}
